@charset "UTF-8";
/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Permanent+Marker&family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
/*Fuentes*/
/*Colores*/
/*index*/
/*Nuevos productos - index*/
/*Sobre nosotros - index*/
/*Footer*/
/*Reset css*/
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Red Hat Display, sans-serif;
  background-color: rgba(231, 223, 213, 0.188);
}

.container-fluid {
  padding: 0;
}

/*header*/
header {
  background-color: white;
}
header h1 {
  font-family: Permanent Marker, cursive;
  color: rgb(0, 0, 0);
}

/*nav*/
.navbar {
  font-weight: bold;
  flex-direction: column;
}

/*Nuevos productos*/
.jumbotron {
  background-image: url(../img/color.jpg);
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: end;
  color: white;
  border-radius: 0;
}
.jumbotron h2 {
  font-size: 100px;
  padding: 10px;
  font-family: Staatliches, cursive;
}
.jumbotron a {
  transition: transform 1s;
  text-decoration: none;
}
.jumbotron a:hover {
  transform: scale(1.1);
}

/*Categorias productos*/
.products div {
  margin: 0;
}
.products article img {
  height: 70%;
  width: 100%;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.267);
}
.products h2 {
  font-family: Staatliches, cursive;
  font-size: 40px;
}
.products p {
  font-size: 25px;
  margin: 20px;
}
.products article {
  margin: 20px;
  transition: transform 1s;
}
.products article a:hover {
  transform: scale(1.05);
  text-decoration: none;
}

/*About us*/
.about_us {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid;
  width: 97%;
}
.about_us h3 {
  margin: 3vh;
  font-family: Staatliches, cursive;
}

/*Form contacto*/
.contact {
  padding: 7px;
}
.contact h3 {
  font-family: Staatliches, cursive;
}
.contact h3, .contact form {
  margin: 2%;
}
.contact form {
  text-align: left;
  font-weight: bold;
}
.contact form input, .contact form select {
  border-radius: 0.5;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid black;
}
.contact button {
  justify-content: center;
  width: 50%;
  display: flex;
}

/*Footer*/
footer {
  margin-top: 40px;
  background-color: rgb(25, 23, 23);
  display: flex;
  justify-content: center;
  font-weight: bold;
}
footer i {
  font-size: 40px;
  color: rgb(218, 217, 217);
}
footer li {
  list-style: none;
}
footer li a {
  color: rgb(218, 217, 217);
}
footer li a:hover, footer li i:hover {
  color: rgb(255, 254, 254);
  text-decoration: none;
}

/*Estilo botones*/
/*Boton negro*/
.buttonBlack a {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.428);
  width: 15vh;
}

/*Boton blanco con border negro*/
.buttonForm {
  border-radius: 0;
  font-weight: bold;
  margin: 2%;
  padding: 8px;
  width: 15vh;
  background-color: rgb(7, 115, 111);
  color: rgb(0, 0, 0);
  border: 1px solid transparent;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.428);
  color: white;
  cursor: pointer;
}

/*Boton blanco transparente*/
.buttonWhite a {
  border: none;
  font-weight: bold;
  padding: 1.5vh;
  margin: 2vh;
  color: rgb(31, 31, 31);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.368);
  margin-bottom: 50px;
  width: 20vh;
}

/*Menu hamburguesa*/
@media only screen and (max-width: 766px) {
  .navbar {
    flex-direction: row;
  }
}
/*Estilos Product Page*/
/*Categorías*/
/*Titulo de categoría*/
.titleCat {
  text-align: center;
}
.titleCat h3 {
  padding: 20px;
  background-image: url(../img/makeup.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/*Estilos Productos*/
.allProducts {
  display: flex;
  justify-content: center;
}
.allProducts div {
  width: 100vw;
  margin-top: 35px;
}
.allProducts img {
  height: 60%;
  width: 90%;
}

/*Estilo new.html*/
.titleNewCat {
  background-image: url(../img/a.jpg);
  background-size: cover;
  box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.294);
}
.titleNewCat h3 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
}

/* Estilo about_us.html*/
.video_i {
  background-color: black;
}
.video_i iframe {
  border: none;
}

.about_text {
  padding: 50px;
  height: 100%;
  background-color: rgba(208, 202, 197, 0.537);
}
.about_text p {
  display: block;
}
.about_text h3 {
  font-family: Staatliches, cursive;
}

.carousel_img img {
  width: 500px;
}

.marca_info div {
  padding-top: 20px;
  align-self: center;
}
.marca_info div h3 {
  font-family: Staatliches, cursive;
}

/* Estilo product_detail.html*/
.product_detail {
  height: 70vh;
  text-align: left;
  display: flex;
  padding: 50px;
}
.product_detail img {
  width: 50%;
  height: 70%;
}
.product_detail div {
  padding-left: 40px;
  font-size: 20px;
}
.product_detail div h4 {
  font-family: Staatliches, cursive;
}

@media only screen and (max-width: 780px) {
  .product_detail {
    flex-direction: column;
    height: 100vh;
  }
  .product_detail img {
    width: 100%;
    height: 70%;
  }
  .product_detail div {
    padding: 20px;
    font-size: 19px;
  }
}

/*# sourceMappingURL=index.css.map */
