/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Permanent+Marker&family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Permanent+Marker&display=swap');

/*Reset css*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

/*header*/
header {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.menu {
    display: none;
}

header h1{
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-smooth: always;
}

/*nav*/
nav {
    font-weight: bold;
    font-size: 15px;
    height: 100%;
    margin: 10px;
} 

nav ul{
    margin: 5px auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

nav a:hover {
    color: #565b50;
}

/*Body*/ 

/*Nuevos productos*/
.newProducts {
    background-image: url(../img/color.jpg);
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newProducts p {
    color: white;
    font-size: 20px;
    width: 30vh;
}

.newProducts h2 {
    font-size: 50px;
    color: white;
}

.newProducts a {
    transition: transform 1s;
}

.newProducts a:hover {
    background-color:rgba(255, 255, 255, 0.959) ;
    transform: scale(1.1);
}

.newProducts div {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
}

/*Categorias productos*/
.products div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.products article img {
    height: 65%;
    width: 100%;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.37);
}

.products h2 {
    margin-top: 5vh;
}

.products p {
    font-size: 20px;
    margin: 20px;
}

.products article {
    width: 20vw;
    z-index: 0;
    margin: 2vh;
    transition: transform 0.5s;
}

.products article:hover {
    transform: scale(1.05);
}

/*About us*/
.about_us {
    background-color: rgba(210, 226, 197, 0.555);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about_us h3 {
    margin: 3vh;
}    

/*Form contacto*/
.contact {
    height:55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form {   
    text-align: start;
    width: 20vw;    
    height: 85%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
}

.contact input[type="text"],input[type="date"],label,select {
    height: 3vh;
    width:100%; 
}

label,input[type="checkbox"]{
    margin-top: 3%;
}

.contact input[type="text"],input[type="date"] {
    border: 1px solid rgb(183, 183, 183);
    border-radius: 5px;
}

.contact div {
    text-align: center;
    margin: 4%;
}

/*Footer*/
footer {
    width: 100%;
    height: 8vh;
    background-color: rgba(63, 63, 63, 0.212);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer i {
    font-size: 35px;
}

footer li {
    list-style: none;
}

footer div {
    width: 100%;
}

footer .social ul{
    display: flex;
    justify-content: space-around;
}

/*Estilos Product Page*/
/*Titulo de categoría*/
.titleCat {
    background-image: url(../img/makeup.jpg);
    background-size:cover;
    height: 5vh;
    text-align: center;
}

.titleCat h3 {

    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*Estilos Productos*/
section.allProducts.buttonBlack {
    height: auto;
}

.allProducts div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    justify-content: center;
}

.allProducts img {
    width:  60%;
    height: 60%;
    margin: 20px;
}

/* Estilo new.html*/
.titleNewCat {
    background-image: linear-gradient(to bottom, #830006, #9f302c, #b85250, #d07374, #e59599);
    height: 30vh;
    display: flex;
    align-items: end;
    justify-content:center;
}

.titleNewCat h3{
    margin-bottom:50px;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

/* Estilo about_us.html*/
.about_text{
    margin: 50px;
}

/*Estilo botones*/
/*Boton negro*/
.buttonBlack a {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    margin-bottom:30px ;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.428);
    width: 15vh;
}

/*Boton blanco con border negro*/
.buttonForm input[type='submit'],input[type='reset'] {
    border-radius: 0;
    font-weight: bold;
    margin: 2%;
    padding: 8px;
    width: 15vh ;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(184, 184, 184);
    color: rgb(62, 62, 62);
    cursor: pointer;
}

/*Boton blanco transparente*/
.buttonWhite a{
    border: none;
    font-weight: bold;
    padding: 1.5vh;
    margin: 2vh;
    color: rgb(31, 31, 31);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.368);
    margin-bottom: 50px;
    width: 20vh;
}


/*Medias queries*/
@media only screen and (max-width: 1262px) and (min-width:948px){
    nav ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;
    }
}

@media only screen and (max-width: 948px){
    /*header*/
    header h1{
        margin-top: 5px;
    }
    
    /*nav*/
    nav a {
        margin: 10px;
    }

    /*Categorias productos*/
    .products article  {
        width: 85%;
    }

    /*About us*/
    .about_us {
        padding: 30px;
    }

    /*Form contacto*/
    .contact form {   
        width: 55vw;    
    }

    .contact input[type="text"],input[type="date"],select {
        height: 4vh;
        width:100%; 
    }

    label,input[type="checkbox"]{
        margin-top: 1%;
    }

    /*Footer*/
    footer {
        height: 30vh;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    footer div li{
        margin: 10px;
    }

    footer .social ul{
        justify-content: center;
    }

    .allProducts {
        height: 90vh;
    }
}

@media only screen and (max-width: 768px) {
    /*Productos*/
    .allProducts div{
        grid-template-columns: repeat(2,1fr);
    }

    .allProducts img {
        width:  200px;
        height: 200px;
    }

    /*Nuevos prodcutos*/
    .newProducts {
        height: 60vh;
    }
    
    .newProducts div {
        width: 100%;
    }
    /*Categorias productos*/
    .products div {
        display: flex;
        flex-direction: column;
    }
    .products article img {
        height: 65%;
        width: 60%;
    }
    .products h2 {
        margin: 25px;
    }
    .products p {
        margin: 6px;
    }
    
    .products article {
        width: 100%;
        margin: 0;
    }
    .titleCat {
        height: 5vh;
    }
    .allProducts {
        height: 85vh;
    }
}

@media only screen and (max-width: 541px) {
    /*Productos*/
    .allProducts img {
        width:  150px;
        height: 150px;
    }

    .allProducts div{
        font-size: 15px;
    }

    .buttonBlack a {
        padding: 5px;
    }
    
    /*nav*/
    nav ul{
        flex-direction: column;
    }

    nav li {
        margin: 7px;
    }
}

@media only screen and (max-width: 380px) {
    /*Productos*/
    .allProducts div{
        grid-template-columns: 1fr;
    }
}



