@charset "UTF-8";
/*Imports scss*/
/*Estilos header + footer y generales*/
/*Fuentes*/
/*Estilo header*/
/*Footer*/
/*Reset css*/
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Roboto, sans-serif;
  background-color: rgba(231, 223, 213, 0.188);
}

.container-fluid {
  padding: 0;
}

/*header*/
header {
  background-color: black;
}
header h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 1.6rem;
}

/*nav*/
.navbar {
  margin: 0px 7px;
  height: 6vh;
}
.navbar .navbar-nav {
  position: relative;
  z-index: 1;
  background-color: black;
}
.navbar .nav-item a {
  color: rgb(255, 255, 255) !important;
  margin-right: 25px;
}
.navbar .nav-item a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.navbar button {
  border: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

/*Footer*/
footer {
  margin-top: 40px;
  background-color: rgb(16, 15, 15);
  display: flex;
  justify-content: center;
}
footer i {
  font-size: 2.5rem;
  color: rgb(234, 226, 226);
}
footer li {
  list-style: none;
}
footer li a {
  color: rgb(234, 226, 226);
}
footer li a:hover, footer li i:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .socialmedia {
  display: inline-flex;
}

/*Estilo botones*/
/*Boton negro*/
.buttonBlack a {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.428);
  width: 15vh;
}

/*Boton Formulario*/
.buttonForm {
  border-radius: 0;
  font-weight: bold;
  margin: 2%;
  padding: 8px;
  width: 15vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid transparent;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.428);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/*Boton bordo*/
.buttonWhite a {
  border: none;
  font-weight: bold;
  padding: 1.5vh;
  margin: 2vh;
  color: rgb(255, 255, 255);
  background-color: #510712;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.368);
  margin-bottom: 50px;
  width: 20vh;
}

/*@media header*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header h1 {
    font-size: 1rem;
  }

  .nav-link {
    font-size: 0.9rem;
    margin-right: 0.8px;
  }

  .navbar .nav-item a {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 395px) {
  header h1 {
    font-size: 0.9rem;
  }
}
/*Estilos index.html*/
/*Nuevos productos*/
/*Nuevos productos*/
.jumbotron {
  background-image: url(../img/portada.jpg);
  background-size: cover;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: end;
  color: #000000;
  border-radius: 0;
}
.jumbotron h2 {
  font-size: 5rem;
  padding: 10px;
  font-family: Staatliches, cursive;
}
.jumbotron p {
  font-size: 1.3rem;
  font-weight: bold;
}
.jumbotron a {
  transition: transform 1s;
  text-decoration: none;
}
.jumbotron a:hover {
  transform: scale(1.1);
}

/*Categorias productos*/
.products div {
  width: 100%;
}
.products article img {
  height: auto;
  width: 100%;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.267);
}
.products h2 {
  font-family: Staatliches, cursive;
  font-size: 3rem;
}
.products h3 {
  margin: 20px;
}
.products article {
  margin: 20px;
  transition: transform 1s;
}
.products article a:hover {
  transform: scale(1.05);
  text-decoration: none;
}

/*About us*/
.about_us {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid;
  width: 95%;
  margin-top: 40px;
}
.about_us h2 {
  margin: 3vh;
  font-family: Staatliches, cursive;
}
.about_us p {
  padding: 5px;
}

/*Form contacto*/
.contact {
  padding: 10px;
}
.contact h2 {
  font-family: Staatliches, cursive;
}
.contact h2, .contact form {
  margin: 2%;
}
.contact form {
  text-align: left;
  font-weight: bold;
}
.contact form input, .contact form select {
  border-radius: 0.5;
  border: 2px solid black;
}
.contact button {
  width: 50%;
}

/*Estilos Product Page*/
/*Categorías*/
/*Titulo de categoría*/
.titleCat h2 {
  width: 100%;
  padding: 20px;
  background-image: url(../img/makeup.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/*Estilos Productos*/
.allProducts div {
  display: flex;
  justify-content: center;
}
.allProducts article {
  background-color: rgba(184, 174, 174, 0.058);
  margin: 10px;
}
.allProducts article h3 {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
.allProducts article p {
  font-size: 1rem;
  color: rgb(72, 70, 70);
}
.allProducts article a {
  text-decoration: none;
}
.allProducts article a:hover {
  background-color: rgb(38, 37, 37);
}
.allProducts article img {
  padding: 15px;
  height: 300px;
  width: 250px;
}

.product_list {
  margin-top: 15px;
}

/*Estilo new.html*/
.titleNewCat {
  background-image: url(../img/new.jpg);
  background-size: cover;
  box-shadow: 1px 13px 14px -8px rgba(0, 0, 0, 0.294);
}
.titleNewCat h2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.5rem;
  padding: 20px;
}

/* Estilo about_us.html*/
.video_i {
  background-color: black;
}
.video_i iframe {
  border: none;
}

.about_text {
  padding: 50px;
  height: 100%;
  background-color: rgba(223, 182, 153, 0.537);
}
.about_text p {
  display: block;
}
.about_text h3 {
  font-family: Staatliches, cursive;
}

.carousel_img img {
  width: 500px;
}

.marca_info {
  margin: auto;
  padding: 40px;
}
.marca_info div {
  align-self: center;
}
.marca_info div h3 {
  font-family: Staatliches, cursive;
}

/* Estilo product_detail.html*/
.product_detail {
  text-align: left;
  display: flex;
  padding: 50px;
  height: auto;
}
.product_detail img {
  width: 700px;
  height: 700px;
}
.product_detail div {
  padding: 30px;
}
.product_detail div h4 {
  font-family: Staatliches, cursive;
  font-size: 2rem;
}
.product_detail div p {
  font-size: 1.3rem;
}
.product_detail div .price {
  font-weight: bold;
  padding-top: 20px;
}

/*@media product_detail.html*/
@media only screen and (max-width: 1240px) {
  .product_detail {
    flex-direction: column;
  }
  .product_detail img {
    width: 100%;
    height: auto;
  }
  .product_detail div h4 {
    font-family: Staatliches, cursive;
    font-size: 1.5rem;
  }
  .product_detail div p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
